<section class="footer">
  <div class="container">
    <div class="row">
      <div class="offset-by-four four columns" id="footer-column">
        <div class="footermenu">
        <a href="https://twitter.com/trussellstorey"><i class="fa fa-twitter"></i></a>
        <span class="footermenu-divider">|</span>
        <a href="https://github.com/thomasrstorey"><i class="fa fa-github"></i></a>
        <span class="footermenu-divider">|</span>
        <a href="https://instagram.com/storey.thomas"><i class="fa fa-instagram"></i></a>
        <p class="footer-text">Copyleft Thomas R Storey, 2016</p>
        </div>

      </div>
    </div>
  </div>
</section>
<script>
!function(f,e,a,t,h,r){if(!f[h]){r=f[h]=function(){r.invoke?
r.invoke.apply(r,arguments):r.queue.push(arguments)},
r.queue=[],r.loaded=1*new Date,r.version="1.0.0",
f.FeathrBoomerang=r;var g=e.createElement(a),
h=e.getElementsByTagName("head")[0]||e.getElementsByTagName("script")[0].parentNode;
g.async=!0,g.src=t,h.appendChild(g)}
}(window,document,"script","https://cdn-qa.feathr.co/js/boomerang.min.js","feathr")

feathr("fly", "599752b1b93c8976323a7163");
feathr("sprinkle", "page_view");
</script>
