<section class="footer">
  <div class="container">
    <div class="row">
      <div class="offset-by-four four columns" id="footer-column">
        <div class="footermenu">
        {{{renderFooter menu}}}
        <span class="footermenu-divider">|</span>
        <a href="https://twitter.com/trussellstorey"><i class="fa fa-twitter"></i></a>
        <span class="footermenu-divider">|</span>
        <a href="https://github.com/thomasrstorey"><i class="fa fa-github"></i></a>
        <span class="footermenu-divider">|</span>
        <a href="https://instagram.com/storey.thomas"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

    </div>
  </div>
</section>
