<section class="header">
  <div class="container" id="header-container">
    <div class="row">
      <div class="three columns" id="title-column">
        <h3 id="title-text"><a href="/">{{{author}}}</a></h3>
      </div>
      <div class="nine columns" id="menu-column">
        {{{renderMenu @exphbs.view menu}}}
      </div>
    </div>
  </div>
</section>
