<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="offset-by-three six columns">
        <h2>{{{page.title}}}</h2>
        <img class="body-img" src="img/about01.jpg" />
        <p>
          Photo by Taylor Spangler
        </p>
        <p>
          Thomas R Storey is a an artist and programmer from Texas. He received a BS in Visualization Science from Texas A&amp;M University in 2013 and will complete his MFA in Art &amp; Technology at the University of Florida in 2016. Utilizing computational materials and techniques, his work explores the gaps, voids and intersections between culture, human experience and the technological systems that societies build and inhabit. He has exhibited his work at Babycastles Gallery in New York, the Mark Moore Gallery, the Federal University of Rio de Janeiro, the Samuel P. Harn Museum of Art and more. He lives in Gainesville, FL.
        </p>
        <h4>Artist Statement</h4>
        <p>
          I use
        </p>
      </div>
    </div>
  </div>

</section>
