<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
        <p>
          Cardinality of Singular Place is a small program made in Processing/Java
          and uses the Ketai, OCD, and ControlP5 libraries for Android sensor access,
          intuitive camera control, and simplified UI implementation respectively.
          I decided to increase my focus on the idea of Place. A thought that struck
          me is that every single place on the surface of the earth is in fact unique -
          not only does it appear unique, it is mathematically and ontologically unique.
          It is one of the primary distinctions between reality and virtuality that real
          places are not interchangeable, while that interchangeability of virtual place
          is constitutive of virtuality's tendency to collapse time and space.
        </p><p>
          I decided to foreground that quality through contradiction by embodying
          a virtual space within the physical plane and intrinsically linking them. For
          every place on the earth, a corresponding virtual place would exist, and the
          only way to travel from place to place in this virtual world is to travel in
          the real world. The links that form the structure of this project are those between
          latitude and longitude provided by GPS and the offset of a 2D Perlin noise generator.
          Every region of the spherical earth (to a certain level of detail limited by the conversion from double to float)
          is mapped to a specific point on an endless flat plane of coherent noise. This noise is visualized as the color
          and form of a unique, abstract waveform landscape, accessible to the viewer through the motion controlled window of their virtual personal spaces, their phones.
        </p>
        <p><a href="https://github.com/thomasrstorey/CardinalityOfSingularPlace">github</a></p>
        <div class="videoWrapper"> <iframe src="https://player.vimeo.com/video/83467051"
          frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
          </iframe>
      </div>
      </div>
    </div>
  </div>

</section>
