<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="offset-by-three six columns">
        <h2>{{{page.title}}}</h2>
        <div id="development-column">
          {{{renderColumn developmentPgs}}}
        </div>
      </div>
    </div>
  </div>

</section>
