<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns">
        <h2>{{{page.title}}}</h2>
        <p>
          Endlich is an experimental 3D animated music video, produced by myself and Justin Sheehy, with music by James Storey. It tells the story of an ominous monolith that stands watch
          over the changing climate, flora, fauna and civilizations that rise and thrive and eventually fall and decay around it. The monolith comes to represent the paradoxical unchanging
          nature of time itself, the only perceptible quality of which is the persistent production of difference.
        </p>
        <div class="videoWrapper"> <iframe src="https://player.vimeo.com/video/41411136" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/41411136">Endlich</a> from <a href="https://vimeo.com/thomasstorey">Thomas Storey</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      </div>
      </div>
    </div>
  </div>

</section>
