<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
      <p>
				<a href="http://github.com/thomasrstorey/Inter-pre-in-vention">Inter(pre|in)vention</a>
        is a digital poetry project that explores the transformation and
        production of language through collaboration as it enters the
        collective public sphere. Using a performative, network model, it utilizes
        Google's Web-to-Speech API to generate new poetry out of
        errant readings of Emily Dickinson's work.
</p><p>
        Rather than perfect transcriptions, Inter(pre|in)vention models
        imperfect conversations between the public and machines--these errant
        readings, however altered through dialect or machine glitch, are
        birthings and sites of invention, places where the transformation
        of language occurs to generate new possibilities. We take the private
        activity of reading and turn it into a public, collaborative event.
        The project is especially interested in how we contribute and
        participate in the ever-changing cybernetic landscape of the web and
        the public sphere.
</p><p>
        The resulting poems are displayed on a networked tree, mapping each
        one so that it is placed in a location depending on how similar it
        is to others around it, using its relative Levenshtein distance.
        This display can be viewed through several filters, including
        Emily Dickinson's most famous work, as well as many of her poems that
        conceptually question the same things we're after--what is it about
        publicity and exposure that creates a new generative artistic space,
        and how do we enter this expansive and unfolding public landscape?
        The mindscape that her poems are interested in entering mirrors the
        public textscape we're interested in mapping and understanding. We
        take the abstracted, mediated space of the commons of language and
        make it legible and tangible. We hope this project sheds light on
        the accessibility of language’s generative and productive potentials.
   </p>
       <p><a href="https://github.com/thomasrstorey/Inter-pre-in-vention">github</a>
      </div>
    </div>
  </div>

</section>
