<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
      <p>
        I have worked and continue to work with artist <a href="http://mandiberg.com">Michael Mandiberg</a>
        on a number of web and programming projects in addition to general studio
        and art installation assistance.
      </p>
      <h5>Ongoing Project Research</h5>
      <p>
        I am currently working with Michael developing and managing tools for handling
        and processing large sets of media data for some unannounced projects. I have been
        mostly working with Ruby and Amazon APIs to automate and distribute tasks.
      </p>
      <p>
        Tools used: Ruby, Python various Amazon AWS APIs
      </p>
      <h5>Print Wikipedia</h5>
      <p>
        As part of Michael's <a href="http://printwikipedia.com">Print Wikipedia</a> installation at <a href ="http://dennygallery.com">Denny Gallery</a>,
        I worked with <a href="https://angel.co/jonathan-kiritharan">Jonathan Kiritharan</a> to write and maintain a set of Python scripts
        that autonomously drove a Firefox browser to upload each of the over 7,000 volumes
        of Wikipedia formatted into print-on-demand books to lulu.com.
      </p>
      <p>
        Tools used: Python, HTML, JavaScript, Firefox API
      </p>
      <h5>Social Hashtags</h5>
      <p>
        I helped update and revise the social-hashtags WordPress plugin for
        the <a href="http://artspracticum.org">New York Arts Practicum website</a>. The plugin searches social media
        APIs to find posts relating to hashtag queries. It then stores relevant
        information and images from those posts in a database and makes them
        available in a front-end feed. I helped add options and features to the plugin
        for filtering social media channels from which the social posts are aggregated.
      </p>
      <p>
        Tools used: WordPress API, HTML, CSS, PHP
      </p>
      </div>
    </div>
  </div>

</section>
