<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
      <p>
				<a href="http://art-tech.arts.ufl.edu/~tstorey/mastercopy/">Master Copy (Mount Moran)</a>
        is a collaboration with Penelope Umbrico. I extracted the Google
        Earth topographic data for the geo-location of Ansel Adams’
        photograph, The Tetons and Snake River, to create a 3D model of Mount
         Moran pictured in it. Here, the ancient stable form of the mountain,
         first captured as a singular monument in a photograph (a process
         which begins with natural light), moves in multiple iterations
         through infinitely reproducible and distributable code on the web
         (the manufactured light of pixel; 3D model), to end with the image
         of Mount Moran on Google Earth as an independent object through the
         3D printing of its associated image data. Penelope and I suggest an
         equivalency here - if the individual photographers were once the
         masters of how we viewed the natural world, for better or for
         worse, we now view the world through a master Google lens. Taken
         from monumental earth through digital code, the mountain ends in
         reconstituted earth again - a small ceramic specter of a mountain.
       </p>
      </div>
    </div>
  </div>

</section>
