<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
      <p>
				Minusbook is a Chrome extension that eliminates all the user generated
        content and ads from facebook, leaving only the framework of the interface.
        It asks the user to contemplate the structure of the social network itself,
        how it bounds and guides human interaction. What are the behaviors of these blue,
        white and grey boxes that construct our lived, online experiences?
				<br>
				You can install minubook from the <a href="https://chrome.google.com/webstore/detail/minusbook/bodhjndecjdmflblfeddfnkklmdggbom">Chrome webstore</a>.
			</p>
      <p><a href="https://github.com/thomasrstorey/minusbook">github</a></p>
			<script type="text/javascript" src="http://www.fffff.at/widgets/speed-project/speed-project.js"></script>
			<script type="text/javascript">if (FATLab_SpeedProject) {FATLab_SpeedProject.Values.Format='normal'; FATLab_SpeedProject.Values.TimeSpent=240; FATLab_SpeedProject.Make();}</script>
      </div>
    </div>
  </div>

</section>
