<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
      <p>
				<a href="http://github.com/thomasrstorey/nayar">Nayar</a></p><p>
        Artist <a href="http://kristinlucas.com/">Kristin Lucas</a> hired me to build a web service that would
        allow her to host data to use with the AR content app, Layar.
      </p><p>
        The Layar app, based on gps position or a scanned image, queries the
        Layar servers for a registered 'point of interest (POI)' associated
        with that location. If one exists, the Layar servers respond with URL
        that is provided by whoever created that point of interest. The app
        then makes a standardized request to that URL, which needs to
        respond to that request with a standardized, formatted response,
        which will provide the data that the app needs to construct the
        augmented reality experience. Nayar receives that standardized
        request and responds with appropriate data. In addition, it provides
        a web-based interface through which AR data for POIs can be uploaded
        and stored in a MySQL database.
</p>
   </p>
       <p><a href="https://github.com/thomasrstorey/nayar">github</a>
      </div>
    </div>
  </div>

</section>
