<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
      <h3>Syllabus</h3>
      <h5>Course Description</h5>
      <p>

This	course	introduces	the	history	and	practical	use	of	network	and	hypermedia	technologies	in
an	artistic	context.	You	will	not	only	study	the	development	and	structure	of	the	Web	in	an
historical	and	theoretical	sense,	but	also	gain	practical	experience	working	with	markup	and
scripting	languages	to	use	the	internet	as	a	creative	medium.	Class	time	will	consist	of
workshop-style	lessons	on	techniques,	as	well	as	discussions	of	weekly	readings.	Homework	will
involve	theoretical	and	historical	readings	each	week,	and	projects	in	which	you	will	create,
appropriate	and	transform	the	web	for	art.	The	class	assumes	minimal	previous	programming
experience,	and	simply	asks	that	you	be	curious,	energetic,	rigorous	and	willing	to	try	new
things.
</p><h5>
Objectives
</h5><p>
Develop	an	understanding	of	the	internet	as	technology,	media	and	infrastructure.
Build	a	critical	and	theoretical	awareness	of	hypermedia	and	its	history.
Practice	creative	techniques	to	work	productively	with	web	technologies.
Become	familiar	with	the	role	and	use	of	computer	languages	on	the	internet.
Use	markup	and	scripting	languages	to	build	rich,	interactive	hypermedia	artworks
Integrate	research	practices	in	the	development	of	complex,	social,	interactive	and	mediated
artwork.
</p><h5>
Course	Components
</h5>
<p>
As	a	student	in	this	class,	you	are	expected	to:
</p>
<ul>

<li>Participate	eagerly	in	class	discussions.</li>
<li>Read	the	readings	before	class	each	week,	and	write	down	your	thoughts	and	notes	in	the
class	wiki.</li>
<li>Be	attentive	and	work	diligently	during	lessons.</li>
<li>Turn	in	your	projects	on	time	and	through	the	appropriate	channels.</li>
<li>Attend	class	every	class	period.</li>

</ul>
<h5>Outline</h5>
<ul>
  Week	1
  <li>
    Introductions
  </li>
  <li>Hypermedia	and	the	Internet	-	definitions</li>
  <li>How	to	work	with	code.</li>
</ul>
<ul>
Week	2
<li>History	of	the	Internet	-	Part	1</li>
<li>HTML	-	Basic	Tags</li>
</ul><ul>
Week	3
<li>History	of	the	Internet	-	Part	2</li>
<li>HTML	-	Layout</li>
</ul><ul>
Week	4
<li>Internet	infrastructure</li>
<li>CSS	Basics</li>
<li>Project	1	Due	-	Basic	Portfolio	Page</li>
</ul><ul>
Week	5
<li>Hypermedia,	and	E-literature</li>
<li>HTML,	CSS	and	Responsive	Design</li>
</ul><ul>
Week	6
<li>Network	theory	Part	1</li>
<li>JavaScript	Introduction:</li>
<li>Markup	vs.	Scripting	languages</li>
<li>basic	syntax,	variables</li>
</ul><ul>
Week	7
<li>Network	Theory	Part	2</li>
<li>JavaScript: functions</li>
</ul><ul>
Week	8
<li>HTML,	CSS	and	JS	Exam</li>
<li>Project	2	Due	-	Narrative</li>
</ul><ul>
Week	9
<li>Social	Media	Part	1</li>
<li>JavaScript: control	flow</li>
</ul><ul>
Week	10
<li>Social	Media	Part	2</li>
<li>JavaScript: objects, arrays</li>
</ul><ul>
Week	11
<li>Posthuman	Part	1</li>
<li>JavaScript: timing, interactivity, the	DOM.</li>
</ul><ul>
Week	12
<li>Posthuman	Part	2</li>
<li>Project	3	Due	-	Non-linear</li>
</ul><ul>
Week	13
<li>Final	Project	Proposals</li>
<li>JavaScript: libraries,	JQuery</li>
</ul><ul>
Week	14
<li>Work	on	final	project</li>
<li>The	Server</li>
</ul><ul>
Week	15
<li>Work	on	final	project</li>
</ul><ul>
Week	16
<li>Final	Project	Critique</li>
      </ul>
      </div>
    </div>
  </div>

</section>
