<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
        <p>
          normal is a series of bronze sculptures. Each edition of the
          series is a set of three small unit pieces, each a bronze
          representation of a polygon. Extending out a few inches from the
          geometric center of one side of each polygon is that polygon's
          face normal. The sculpture is presented with each piece clustered
          together with the other two in its set, each leaning on their
          normals.
        </p><p>
          With normal, I attempt to manifest the immaterial, idealized
          geometric world of computer graphics as a sculpture in the most
          material of art mediums - cast bronze. In computer graphics,
          every polygon has an invisible face normal, a vector pointing a
          unit distance perpendicular to the surface abstracted by the
          triangle. This vector is what makes it possible for simulated
          light to interact with the simulated surface - it is the essence
          of the material of the immaterial object. Here, it is the very
          physical vector that keeps the polygon from lying flat on the
          ground.
        </p><p>
          Ancient and new, immaterial and material, mediums are themselves
          the vectors with which we construct our reality. Bronze and
          computer graphics each to some extent owe their cultural
          persistence to their instrumentalization by empire, capital, and
          warfare. Just as bronze was forged as deadly prosthesis in
          logistical space, graphics are developed as prothesis in
          strategic space, enhancing the visuality of the battlefield. We
          see the world through these tools, and the realities they afford.
          They create vectors, lines of sight, that abstract and flatten
          into information the multivarious dimensions of the real.
        </p><p>
          normal represents through its sharp, weighty materiality the
          paradoxically unbridgeable gap between the interpenetrating
          realms of the abstract and the real. The sculptures, as
          representations of abstractions, make clear that though data is
          material, its material is abstraction, and it is not
          interchangeable with that which it abstracts.
        </p>

      </div>
    </div>
  </div>

</section>
