<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
        <p>
          Object Notation is a diptych of plexiglass panels. Laser-engraved
           onto each panel are the contents of a file written in JavaScript
            Object Notation (JSON) format. The left panel contains the
            three dimensional vertex positions from a 3D scan of my face.
            The right panel contains the result of running my twitter
            activity through natural language processing algorithms.
            They are abstract self-portraits.
          </p><p>

            Each panel is perfectly transparent. The material is sharp,
            immaculate, and clear, the laser engraving is precise and 
            consistent. The data are completely pareseable and knowable.
            It reveals itself, and yet reveals nothing about what it
            abstracts. Material transparency is overlayed with conceptual
            transparency. The viewer looks straight through what they look
            at, to the perceptual scaffolding of what they see.
        </p>

      </div>
    </div>
  </div>

</section>
