<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
        <p>
          I'm currently in a contract with Dual Path Learning to produce
          their website, which is intended to support their forthcoming
          educational game through providing detailed background
          information on the game from a scientific and educational
          point of view, as well short playable interactive demos and a
          small online store through which the game can be purchased.
        </p><p>
          The design of the site is based on the design of the interface of
          the game, to provide visual continuity. I built the playable
          demos in HTML and JavaScript, modeling them off of selected
          segments of the game. The backend of the site runs on NodeJS, and
          I use the Stripe API to provide simple transaction flow for the
          e-commerce portions of the website. I can't provide links to the
          site because it's still in progress, but please see the above
          representative screenshots. Please keep in mind it is a work in
          progress - so excuse the filler text!
        </p>

      </div>
    </div>
  </div>

</section>
