<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
        <p>
          I worked with artist Penelope Umbrico to make an iOS and Android app
          that functioned as an interactive companion to her art book "Out of Order". Photos from
          the book were cut into 3x3 grids of tiles and made into a sliding tile game. I deployed the
          game to multiple platforms using Unity 3D.
        </p>
        <p>
          Tools used: C#, Unity 3D
        </p>

      </div>
    </div>
  </div>

</section>
