<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
      <h3>Abstract</h3>
      <p>
        We present Proximity, a robotic improvisational dance partner that
        uses principles of interactive dance and emergent behavior to
        collaborate with a human dancer in live, improvised dance performance.
        We describe the design theories that informed the project and how
        they were applied. Future development of the prototype is discussed.
      </p>
      <p>
        <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?reload=true&arnumber=6628498">
        Full Paper at IEEE Xplore
        </a>
      </p>
      </div>
    </div>
  </div>

</section>
