<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
        <p>
          resocializer is a tactical media app that uses gamification to
          incentivize face to face interpersonal communication.
          It intervenes at the intersection of technological solutionism and
           technological paranoia to provide users with a cognitive dissonance
           in software form — technology attempting to solve itself.
        </p>
        <p>
          <a href="https://github.com/thomasrstorey/resocializer">github</a>
        </p>
        <div class="videoWrapper">
          <iframe src="https://player.vimeo.com/video/76925954"
          frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>

</section>
