<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="offset-by-three six columns">
        <h2>{{{page.title}}}</h2>
        <p>
          Hire me!
        </p>
        <ul>
          <li>
            <a href="img/resume_s16v02_storey.pdf">Resume <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="img/cv_s16.pdf">CV <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
