<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="offset-by-three six columns">
        <h2>About</h2>
        <p>
          Hire me!
        </p>
        <ul>
          <li>
            <a href="img/resume_s16.pdf">Resume (PDF)</a>
          </li>
          <li>
            <a href="img/cv_s16.pdf">CV (PDF)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
