<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
        <p>
          <a href="http://art-tech.arts.ufl.edu/~tstorey/seahorsekey/">Seahorse Key</a>
        </p>
        <p>
          The island of Seahorse Key is a very marginalized space in the networked world.
          It barely exists on Google Maps, let alone Google StreetView – the Google-view
          of the world totally ignores this unique and beautiful place. I decided to take
          this as an opportunity to define a network-view of the island in my own first-person,
          experiential terms – to walk the island and let others retrace my footsteps in a visually
          immersive environment connected to, but still infrastructurally isolated from, the networked
          representation of the Earth as defined by Google.
          Made in collaboration with Ana Trevino and Tianrui Geng.
        </p>
      </div>
    </div>
  </div>

</section>
