<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
        <p>
          <a href="{{{url}}}/html/seaminglyinvisible/index.html">Seamingly Invisible</a>
        </p><p>
          Are we aware of our disaster?
        </p>

	<p>
    'Seam-carving' is a term which refers to an algorithm for content-aware
    image resizing originally developed in 2007 by Shai Avidan and Ariel
    Shamir. It was intended to make large images viewable on small screens.
    Prior to this technique, the only ways to make an image smaller in one
    dimension were by scaling, which would distort the image, or cropping,
    which may remove important information from the picture. In contrast,
    seam-carving works by finding paths of least importance – vertical or
    horizontal sequences of pixels which are visually less important than
    other pixels in the image – and removing them. Visual importance is
    established by the relative contrast of a pixel to its neighbors. A dark
    pixel neighboring bright pixels is considered important, and so is
    preserved, while a darker pixel among other dark pixels doesn't add as
    much visual information to the scene, and is thus more likely to be
    removed. This approach is referred to as 'content-aware' because the
    algorithm and its output are dependent on the particular content of the
    image being processed.
	</p>
  <p>
    What does this algorithm have to do with disaster? Are we content-aware of
     the earth on which we stand, the water in which we swim, the air in which
     we sigh (sein)? The Cabot-Koppers Superfund site in Gainesville, Florida
     is a disaster in process. Over decades, starting in 1912 it was polluted
     by creosote, dioxins, benzene, napthalene and chromated copper arsenate,
     chemical byproducts of the production of pine-tar, an essential component
     of industrial wood treating and preservation techniques. It became a
     Superfund Site in 1983, and ever since then has been the center of a
     protracted legal, social, cultural and political battle between those
     who have been affected by the environmental damage to the site, and
     those who are responsible for its cleaning and remediation.
  </p>
  <p>
  Where and when does this dramatic, deadly struggle enter the visual system?
  There have been protests, marches, rallies, newspaper articles, fliers,
  lectures and more, all temporary and ephemeral in the temporal scale of the
  conflict. Victims have been born, lived and died in the slow-motion wreck of
  this disaster. When I visited the site with some fellow artists and activists
  in 2015, I was struck by the invisibility of the catastrophe. The already
  crushing anxiety of the 'uselessness' of art, especially in the face of such
  a tragedy, was compounded by the event's apparent non-presence. You can't
  take a picture of the site – any visual evidence, removed from the context of
  the site, decayed into a flat image of an anonymous field. Green grass, a
  pond, or a dirt road. How do you represent the invisible?
</p>
<p>
  Koppers is an intersection point in an array of massive systems in constant
  often imperceptible motion; environmental, geological, chemical, economic,
  societal, cultural, and political. Creosote and arsenic slowly trickle
  through the layers of earth to the Floridan Aquifer. Awareness is raised,
  and parties reach out. Deals are struck. Topsoil is removed, spread, and
  contained. Samples are taken, results disseminated. Although the site
  resists capture and representation, its phantom is everywhere present.
</p>
<p>
	Seamingly Invisible is a computational artwork for content-aware, abstract
  imaging of invisible systems. On September 16th 2015 a drone piloted by Steve
  Rowell flew above the city of Gainesville and captured video of an empty
  field, the Cabot-Koppers site. I took excerpts from this video and processed
  it through a seam-carving algorithm, making the process of erasure of each
  pixel visible. As the seams are removed, evaporating into the air, they
  reappear in a neighboring image, persisting, trickling down the screen.
  Over a duration of hours, the image dissolves, developing into a tracing,
  a map of the visuality of the site. Objects recede and grounds emerge over
  time, according to the judgment of what is important, what is valued and what
  is not. Information decays and is lost, buried, replaced by a phantom. The
  work is a processual, computational metaphor and rendering of what it is to
  be with disaster.
        </p>
      </div>
    </div>
  </div>

</section>
