<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
        <p>
          I worked closely with Lesley Gamble and John Moran of the Springs Eternal Project,
          a project of the Alachua Conservation Trust, to produce a video kiosk for their traveling
          exhibition on Florida's springs. Visitors can browse and watch videos from a variety
          of Florida artists and filmmakers celebrating and documenting the springs and their conservation.
        </p>
        <p>
          Tools used: HTML5, CSS, JavaScript, NodeJS, E-Crisper
        </p>

      </div>
    </div>
  </div>

</section>
