<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
      <p>
        Welcome to the newly redesigned and relaunched thomasrstorey.net! And
        welcome to my blog. I hope to post something interesting here on the regular,
        maybe once every other week or so. Some of it will be related to web development,
        some of it will be of an artistic or scholarly nature. Some of it may even be of
        a personal/human interest. We'll see!
      </p>
      <p>
        I suppose as the blog grows I'll need to categorize and tag things, and then I'll need to make a search function for the site.
      </p>
      <p>
        And then I'll need to write a blog post about how I built my search function!
      </p>
      <p>
        This should be fun. :)
      </p>
      </div>
    </div>
  </div>

</section>
