<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
      <p>
				<a href="http://sort-apostrophe-d.com">Sort'd</a>


 is an opportunistic, poetic, playful web intervention that capitalizes on the ambiguous nature of the abstruct, unhuman network, part of which is the internet. It plays the tropes of the techno-optimistic, neoliberal world as a farcical narrative device, toward a deliberate attempt at misunderstanding and miscommunication. The site is totally functional, and does exactly what it says it does. It promises to 'sort out your problems', and it does in fact take a representation of the problem, and sort it. In the gulf between semantic communication between the user and the machine, its perspective and vitality may be considered as both apart from, and a part of the human.
</p><p>
Sorting, as a task, is one of the most important in computer science, and it forms the basis for other more complex tasks. Its essential nature and the familiarity with which the problem can be expressed have combined to contribute to sorting's prominence as a subject of study for both researchers and students. A sorting algorithm receives a set of unordered information as input and produces an ordered permutation of that information, according to some key. Sort'd uses the classic "quicksort" algorithm, which is a recursive, partition based solution, first described by Tony Hoare in 1960. It selects a character from the whole set, and then partitions the set into smaller unordered sets, with all the values smaller than the selected character in one partiion, and the values greater in the other. This process is then repeated on the unordered partitions until the set is ordered.
</p><p>
The poetic aspect of Sort'd pivots on the falliability of communication. Writing is constructed from meaning in the mind of the writer, and then performs as a set of protocols to construct new meaning in the mind of the reader. This process happens whether one or both or none of the parties involved is a machine. Sort'd comprehends information given to it from its own, machinic perspective. It does in fact solve the problem, and performs this solution for the user, taking the ambiguities of human language and smoothing them into a string of ordered data, at once full and totally emptied of meaning.

       </p>
       <p><a href="https://github.com/thomasrstorey/sortd">github</a>
      </div>
    </div>
  </div>

</section>
