<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
        <p>
          <a href="http://art-tech.arts.ufl.edu/~tstorey/threejs/tioyi/tioyi.html">Technology is our Yoga Instructor</a>
        </p><p>
A study on cult-like rational devotion to technology as an independent agent
in human affairs, and a reflection on the spiritually enabling aspects of digital
networked technology. Audio by <a href="http://morganjenks.com/">Morgan Jenks.</a>
        </p>
      </div>
    </div>
  </div>

</section>
