<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
      <p>
        In 2015 and 2016 I worked with Dr. Anna Holcombe at the Unversity of Florida
        researching accessible techniques for 3D printing and additive manufacturing for ceramics artists.
        We investigated and assessed the usefulness of various techniques as they relate to a ceramics-based art practice.
        The results were published in Ceramics Technical and presented at the Building STEAM 3D Printing at UF Symposium.
      </p>
      <h3>Abstract</h3>
      <p>
        Typical reactions to the use of 3D technologies in the making of ceramic work range from fanatical interest to fear of the unknown.  This article will focus on how scanning, printing and modeling technologies can be used to design, model, prototype and even create ceramic objects. Contemporary ceramic artists and designers are using these technologies to create their work. The case will be made that this new and accessible technology is “just another tool in the tool box.”
      </p>
      <p>
        Criticisms of 3D fabrication in craft related discourse largely center on a loss of materiality, how the human touch is replaced by the inhuman algorithm. These indictments are rooted in often (?) narrow views of the actual operation of this technology. 3D printing can be considered an abstraction of production. Form and material is manipulated independently\ separately. If the process of craft can be seen as a relationship between the maker and the object, then digital fabrication is an expressive, precise and poetic language with which maker and object can speak to each other.
      </p>
      </div>
    </div>
  </div>

</section>
