<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
        <p>
          I am currently working with the College of the Arts and the Infinity Fabrication Lab
          at the University of Florida to rebuild and update their website. I have already implemented
          an updated calendar/scheduling system which students can use to reserve lab equipment. This
          system improves on their old website by being more scalable as the lab grows, and easier for
          lab employees to manage in the back-end.
        </p>
        <p>
          Future improvements include:
          <ul>
            <li>An automated 3D file upload flow. Students and clients will be able to upload
            3D files which will automatically be priced according to volume and material. The file is then sent to a queue to
            be processed by a lab employee. Students will be able to track the progress of their print from beginning
            to end, and will receive an email when their printed model is ready to pick up at the lab.</li>
            <li>A charging system that automatically calculates and charges students on their school accounts for lab materials costs.
            Formerly lab employees had to carefully format text files by hand and upload them to be processed by a UF server process. This system
            will take care of that busy-work.</li>
          </ul>
        </p>
        <p>
          Tools used: HTML5, CSS, JavaScript, PHP, ProcessWire API
        </p>

      </div>
    </div>
  </div>

</section>
