<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns page-content">
        <h2>{{{page.title}}}</h2>
        <p>
          Wanterface takes Google satellite maps and obscures everything on
          earth except for the areas immediately surrounding places you have been. 
          The piece consists of an android app that renders the modified map and a
          tcp server that generates the map's tiles. The intention is to encourage
          'wayfaring' and active participation in understanding/inhabiting the environment.
        </p>
        <p><a href="https://github.com/thomasrstorey/wanterface">github</a></p>
        <div class="videoWrapper"> <iframe src="https://player.vimeo.com/video/91768753"
           frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
           </iframe>
      </div>
      </div>
    </div>
  </div>

</section>
