<section class="page-body">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{{renderSlideshow page.images}}}
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns">
        <h2>{{{page.title}}}</h2>
        <p>
          Zwischenkörper (German, literally "between bodies") is a hybrid media installation and dance performance. The dancer interacts with
          three amorphous soft sculptures, which contain touch and flex sensors controlled by an arduino lillypad board. Each pillow is connected via
          wifi to a 3D visualization driven by Touch Designer. In the visualization, three meshes, colored to match the LEDs embedded in the three
          soft sculptures burst to life and dance around the screen, reacting to the touch of the performer. The pillows become hybrid, cybernetic
          entities, crossing the digital divide, existing in both physical and virtual space.
        </p>
        <p>
          Produced in collaboration with Andrea Alvarez Escobar, Catherine Hervey, Kevan Loney and Jonathan Williamson.
        </p>
        <div class="videoWrapper">
          <iframe src="https://player.vimeo.com/video/83621165"
          frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>

</section>
