html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #EFEFEF;
  color: #3F5765;
  margin: 0 0 400px;
}

a {
  color: #FF530D;
  text-decoration: none;
}

section {
  width: 100%;
}

#header-container {
border-bottom: 10px solid #BDD4DE;
margin-bottom: 40px;
}

a:hover {
  color: #FF530D;
}

.container {
  max-width: 1440px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  color: #2B3A42;
}

.navmenu-item h5 {
  text-align: center;
}

#menu-column {
  padding: 40px 0px;
}

#title-text {
  padding: 30px 0px;
}

.navmenu-item.selected h5{
  color: #FF530D;
}

.navmenu-item h5:hover{
  color: #FF530D;
}

.navmenu-item.selected h5:hover{
  color: #FF530D;
}

.footer {
  background: #2B3A42;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 300px;
  width: 100%;
}

.footermenu {
  text-align: center;
  margin: 125px 0px;
}

.footermenu-divider {
  margin: 0px 10px;
}

.column-header {
  text-align: center;
}

.category-entry {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*max-width: 320px;*/
}
.category-entry-info {
  background-color: rgba(255, 255, 255, 0.75);
  opacity: 0.0;
  height: 280px;
  padding: 20px;
  transition: opacity 0.25s;
}
.category-entry-info:hover {
  opacity: 1.0;
}
.category-entry-blurb {
  color: #3F5765;
}

input[type="submit"].button-primary{
  background-color: #FF530D;
  border-color:  #FF530D;
}

input[type="submit"].button-primary:hover{
  background-color: #FF641E;
  border-color:  #FF530D;
}

input[type="submit"].button-primary:focus{
  background-color: #FF641E;
  border-color:  #FF530D;
}

input[type="submit"].button-primary:disabled{
  background-color: #BDD4DE;
  border-color:  #BDD4DE;
}

#response-code {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#response {
  text-align: center;
  font-size: 2rem;
}
